<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Student ERP | My Subjects</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
  </head>

  <body>
    <div class="dashboard-container">
      <header class="dashboard-header">
        <div>
          <h1>Student ERP</h1>
          <p>My Subjects</p>
        </div>

        <a href="/dashboard" class="logout-btn"> Dashboard </a>
      </header>

      <main class="dashboard-content">
        <h2>My Subjects 📚</h2>

        <p class="welcome-text">View the subjects you are enrolled in.</p>

        <div class="module-grid">
          {% for subject in subjects %}

          <div class="module-card">
            <h3>{{ subject.subject_name }}</h3>

            <p>
              <strong>Subject Code:</strong>
              {{ subject.subject_code }}
            </p>
          </div>

          {% endfor %}
        </div>
      </main>
    </div>
  </body>
</html>
